form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

form {
  margin: 0 auto;

  * {
    margin: 5px 0;
  }

  .error {
    color: red;
    margin: 0px;
  }
}

p {
  font-size: 30px;
  font-weight: 500;
  margin: 20px auto;
}

:host {
  display: flex;
  flex-direction: column;
}
